<h1>Inscription</h1>

<%= form_for @user, :html => { :multipart => true } do |f| %>
<%= render 'shared/error_messages' %>
	<div class="field">
		<%= f.label :nom %><br />
		<%= f.text_field :nom %>
	</div>
	<div class="field">
		<%= f.label :email %><br />
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<b>Date de naissance</b><br />
		<%= f.date_select :datnaiss, order: [:day, :month, :year], start_year: Date.today.year-100, end_year: Date.today.year %>
	</div>
	<div class="field">
		<%= f.label :nbfilms, "Nombre moyen de films vus par semaine (au cinéma, à la télé, sur ordinateur ou tablette...)" %><br />
		<%= f.text_field :nbfilms %>
	</div>
	<div class="books">
		<b>J'aimerais lire plus de livres : </b>
		<%= f.radio_button(:moreBooks, "oui") %>
		<%= f.label(:moreBooks_oui, "Oui") %>
		<%= f.radio_button(:moreBooks, "non") %>
		<%= f.label(:moreBooks_non, "Non") %>
	</div>
	<div class="field">
		<%= f.label :cv, "Envoyer le CV au format .pdf" %>
		<%= f.file_field :cv %>
	</div>
	<div class="actions">
		<%= f.submit "Inscription" %>
	</div>
<% end %>
