<h1> <%= @user.nom %> </h1>
	<p>
		<ul>
			<li><span class="bold">Adresse mail :</span> <%= @user.email %></li>
			<li><span class="bold">Âge :</span> <%= Date.today.year-@user.datnaiss.year %> ans</li>
			<li><span class="bold">Nombre moyen de films vus par semaine :</span> <%= @user.nbfilms %></li>
			<li><span class="bold">J'aimerais lire plus de livres :</span>  <%= @user.moreBooks %></li>
			<li><%= link_to "Consulter mon CV", @user.cv.url %></li>
		</ul>
	</p>