<h1>Statistiques</h1>

<h2>Liste des utilisateurs</h2>

<p><%= link_to "Obtenir la liste des utilisateurs au format PDF", statistiques_path + ".pdf" %></p>

<table>
	<tr>
		<th>Nom</th>
		<th>Email</th>
		<th>Date de naissance</th>
		<th>Nombre moyen de films vus par semaine</th>
		<th>Aimerait lire plus de livres</th>
		<th>CV</th>
	</tr>

	<% @users.each do |user| %>
	<tr>
		<td><%= link_to "#{user.nom}", user %></td>
		<td><%= user.email %></td>
		<td><%= user.datnaiss.strftime('%d/%m/%Y') %></td>
		<td><%= user.nbfilms %></td>
		<td><%= user.moreBooks %></td>
		<td><% logo = image_tag("PDF.png", :alt => "PDF") %> <%= link_to logo, user.cv.url %></td>
	</tr>
	<% end %>
</table>

<h2>Pourcentage de lecteurs</h2>

<div class="graph">
	<%= image_tag("pie_lecteurs.png", :alt => "Pourcentage des utilisateurs qui aimeraient et qui n\'aimeraient pas lire plus de livres", :class => "round") %>
</div>

<h2>Fréquence des lecteurs</h2>

<div class="graph">
	<%= image_tag("bar_frequence.png", :alt => "Fréquences des lecteurs et des non lecteurs", :class => "round") %>
</div>

<h2>Nombre de films vus par semaine</h2>

<p>A faire : graphique SVG box-plot</p>